<h1>思ひで</h1>
<%= form_with model:@item, url:'/items', local:true do |f| %>

  <h4>推しもん</h4>
  <%= f.text_field :name %>

  <h4>紹介</h4>
  <%= f.text_area :guide %>

  <br><%= f.submit '寄稿' %></>

<% end %>