h2 投稿一覧
　
#タグリスト
- @tag_list.each do |list|
  span
    <%= link_to list.tag_name, tag_items_path(tag_id: list.id) %>
    <%= "(#{list.items.count})" %>
br
#タグによって絞り込んだ投稿一覧
= "タグが ─ "
strong= "#{@tag.tag_name}"
= " ─ の投稿一覧"
br
<% @items.each do |item| %>
  <%= link_to item.name, item %>
br
<%= link_to 'ホーム', root_path %>