<% if item.favorited_by?(current_customer) %>
  <%= link_to item_favorites_path(item), method: :DELETE, remote: true do %>
    <span class="fas fa-heart size"> <%= item.favorites.count %></span>
  <% end %>
<% else %>
  <%= link_to item_favorites_path(item), method: :POST, remote: true do %>
    <sapn class="far fa-heart"> <%= item.favorites.count %></sapn>
  <% end %>
<% end %>