<% item.comments.each do |comment| %>
  <tr>
    <td><p><%= attachment_image_tag comment.customer, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%></p>
      <div><%= comment.customer.name %></div>
    </td>
    <td><%= comment.comment %></td>
      <% if comment.customer == current_customer %>
    <div class="comment-delete">
    <td>
      <%= link_to "", item_comment_path(comment.item, comment), method: :delete, remote: true, class:"btn btn-danger btn-sm w-25 fas fa-trash-alt" %>
    </td>
    </div>
  </tr> 
      <% end %>
<% end %>