<div class="d-flex align-items-center" style="height:860px;">
  <div class="text-center">
    <h2><span class="badge badge-pill badge-dark"><font color="#E2E3CB">問掛け完了</font></span></h2>

  <p>
    <strogn><font color="#E2E3CB">お問い合わせいただきありがとうございました。</font></strogn>
  </p>
  </div>
</div>