<div class="d-flex align-items-center" style="height:860px;">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <h2><span class="badge badge-pill badge-dark"><font color="#E2E3CB">いらっしゃいまし</font></span></h2>
      </div>
    </div>
  </div>
</div>