<div class="d-flex align-items-center" style="height:600px;">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center">
        <h1><strong>いろもん</strong></h1>
        <h4><strong>ここは懐かしい物、色褪せさせたく無い物等々</strong></h4>
        <h4><strong>フラリと立ち寄り、観て遺す処。</strong></h4>
        <h4><strong>そんな皆様の心の中の ”色んなもん” 御覧ください。</strong></h4>
  
        <div class="mx-auto">
          <div class="row">
            <%= link_to "初遊", new_customer_registration_path, class: "btn btn-secondary btn-sm mt-2 btn-block" %>
          </div>
          <br><div class="row">
            <%= link_to "再遊", new_customer_session_path, class: "btn btn-secondary btn-sm mt-2 btn-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>