<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1><strong>おいでませ</strong></h1>
     
      <div class="btn-wrapper mx-auto">
        <div class="row">  
          <%= link_to "初遊", new_customer_registration_path, class: "btn btn-success btn-sm w-200 mt-2 btn-block" %>
        </div>
        <br><div class="row">
          <%= link_to "再遊", new_customer_session_path, class: "btn btn-info btn-sm w-200 mt-2 btn-block text-lg" %>
        </div>  
      </div>
    </div>
  </div>    
</div>