<h4>編集</h4>
<%= form_with model:@item, url:"/items/#{@item.id}", local:true do |f| %>
  
  <h2>タイトル</h2>
  <%= f.text_field :name %>
  
  <h2>説明</h2>
  <%= f.text_field :guide %>
  <%= f.submit "編集" %>
<% end %>  